@using MyForum.Infrastructure
@using MyForum.Web.Models.Threads
@model ThreadsInCategoryListViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Threads";
}

<div class="text-center">
    <h1>@Model.Name</h1>
</div>
<br />
<br />
<div class="container-fluid">
    @foreach (var thread in Model.Threads)
    {
        <div class="media-body ml-3">
            <h4 class="media-heading">@thread.Title</h4>
            <p class="mt-3">
                @thread.Content
            </p>
            <div class="mt-4 d-flex justify-content-between">
                <ul class="list-inline list-unstyled text-left">
                    <li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>User: @thread.Username</li>
                    <li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>@thread.CommentsCount  <a asp-controller="Comments" asp-action="All" asp-route-threadId="@thread.Id">comments</a></li>
                    <li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>Created on: @thread.CreatedOn</li>
                    <li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>Modified on: @thread.ModifiedOn</li>
                </ul>
                @if (this.User.Identity.Name == thread.Username)
                {
                    <ul class="list-inline list-unstyled text-right">
                        <li class="list-inline-item">
                            <a asp-controller="Comments"
                               asp-action="Reply"
                               asp-route-threadId="@thread.Id">Reply</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-controller="Threads"
                               asp-action="Edit"
                               asp-route-id="@thread.Id">Edit</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-controller="Threads"
                               asp-action="Delete"
                               asp-route-threadId="@thread.Id">Delete</a>
                        </li>
                    </ul>
                }
                else
                {
                    if (this.User.IsInRole(GlobalConstants.AdminRole))
                    {
                        <ul class="list-inline list-unstyled text-right">
                            <li class="list-inline-item">
                                <a asp-controller="Comments"
                                   asp-action="Reply"
                                   asp-route-threadId="@thread.Id">Reply</a>
                            </li>
                            <li class="list-inline-item">
                                <a asp-controller="Threads"
                                   asp-action="Delete"
                                   asp-route-threadId="@thread.Id">Delete</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="list-inline list-unstyled text-right">
                            <li class="list-inline-item">
                                <a asp-controller="Comments"
                                   asp-action="Reply"
                                   asp-route-threadId="@thread.Id">Reply</a>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
        <br />
        <br />
    }
</div>

@*<li>*@
<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
@*<span><i class="fa fa-facebook-square"></i></span>
    <span><i class="fa fa-twitter-square"></i></span>
    <span><i class="fa fa-google-plus-square"></i></span>*@
@*</li>*@
@*<div class="container-fluid text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Thread Content</th>
                    <th scope="col">Thread Author</th>
                    <th scope="col">Comments Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var thread in Model.Threads)
                {
                    <tr>
                        <th>@thread.Content</th>
                        <th>@thread.Username</th>
                        <th>@thread.CommentsCount</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@