@using MyForum.Web.Models.Comments
@model CommentsAllViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Comments";
}

<div class="container-fluid w-100">
    <div class="media w-50">
        <div class="media-body text-center">
            <label asp-for="@Model.ThreadContent"></label>
            <textarea readonly
                      asp-for="@Model.ThreadContent"
                      rows="4"
                      class="form-control"></textarea>
        </div>
    </div>
    <br />
    <hr />
    <br />
</div>


@foreach (var comment in Model.Comments)
{
    <div class="container-fluid w-100 d-flex align-items-end flex-column">
        <ul class="list-inline list-unstyled text-left">
            <li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>User: @comment.CommentCreator</li>
            <li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>Created on: @comment.CreatedOn</li>
            @*<li class="list-inline-item"><i class="glyphicon glyphicon-calendar"></i>Modified on: @comment.ModifiedOn</li>*@
        </ul>
        <div class="media p-2">
            <div class="media-body">
                <textarea asp-for="@comment.Content"
                          rows="4"
                          class="form-control comment"></textarea>
            </div>
        </div>
        <div class="form-group mr-2">
            <a asp-controller="Comments" asp-action="Edit" class="mr-2">Edit</a>
            <a asp-controller="Comments" asp-action="Delete">Delete</a>
        </div>
        <br />
        <br />
    </div>
}