@using MyForum.Web.Models.Comments
@model CommentsEditViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Comment";
}

<div class="container-fluid bg-light d-flex justify-content-center text-center w-100 mx-auto mt-5">
    <form asp-controller="Comments"
          asp-action="Edit"
          asp-route-commentId="@Model.Id"
          method="post">

        <div class="form-group">
            <label asp-for="@Model.Content"></label>
            <textarea asp-for="@Model.Content" type="text" rows="3" value="@Model.Content" class="form-control threadEdit"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Edit</button>
        </div>
    </form>
</div>