@using MyForum.Web.Models.Comments
@model CommentsCreateViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create comment";
}


<div class="container-fluid d-flex justify-content-center">
    <div class="media w-50 text-center">
        <div class="media-body">
            <label asp-for="@Model.ThreadContent"></label>
            <textarea readonly
                      asp-for="@Model.ThreadContent"
                      type="text"
                      rows="4"
                      class="form-control">@Model.ThreadContent</textarea>
        </div>
    </div>
</div>
<br />
<br />
<br />
<form asp-controller="Comments"
      asp-action="Reply"
      asp-route-threadId="@Model.ThreadId"
      method="post" class="d-flex justify-content-center">
    <div class="media w-50 text-center">        
        <div class="media-body">
            <label asp-for="@Model.Content"></label>
            <textarea asp-for="@Model.Content" type="text" rows="5" class="form-control"></textarea>
            <br />
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger replybtn mt-4">Reply</button>
    </div>
</form>