@using MyForum.Web.Models.Users;
@model UsersEditViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Profile";
}
    <div class="jumbotron-fluid bg-light justify-content-center text-center w-50 mx-auto">
        <form class="mt-5 mx-auto" asp-controller="Users" asp-action="EditProfile" asp-route-id="@Model.Id" method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@           
            <div class="form-group">
                <label asp-for="@Model.Username"></label>
                <input asp-for="@Model.Username" type="text" value="@Model.Username" class="form-group" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <label asp-for="@Model.FirstName"></label>
            <div class="form-group">
                <input asp-for="@Model.FirstName" type="text" value="@Model.FirstName" class="form-group" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <label asp-for="@Model.MiddleName"></label>
            <div class="form-group">
                <input asp-for="@Model.MiddleName" type="text" value="@Model.MiddleName" class="form-group" />
                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
            </div>
            <label asp-for="@Model.LastName"></label>
            <div class="form-group">
                <input asp-for="@Model.LastName" type="text" value="@Model.LastName" class="form-group" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <label asp-for="@Model.Email"></label>
            <div class="form-group">
                <input asp-for="@Model.Email" type="text" value="@Model.Email" class="form-group" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <label asp-for="@Model.PhoneNumber"></label>
            <div class="form-group">
                <input asp-for="@Model.PhoneNumber" type="text" value="@Model.PhoneNumber" class="form-group" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
        </form>
    </div>
