@using MyForum.Infrastructure
@using Microsoft.AspNetCore.Identity
@using MyForum.Domain;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @GlobalConstants.ProjectName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <header class="navbar-color">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @GlobalConstants.ProjectName
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (this.User.IsInRole(GlobalConstants.AdminRole))
                            {
                                <a class="dropdown-item text-danger" asp-controller="Users" asp-action="All">Members</a>
                                <a class="dropdown-item text-danger" asp-controller="Threads" asp-action="Create">Create Thread</a>
                                <a class="dropdown-item text-danger" asp-controller="News" asp-action="Create">Create News</a>
                            }
                            else
                            {
                                <a class="dropdown-item text-danger" asp-controller="Users" asp-action="All">Members</a>
                                <a class="dropdown-item text-danger" asp-controller="Threads" asp-action="Create">Create Thread</a>
                            }
                        }
                        else
                        {
                            <a class="dropdown-item text-danger" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            <a class="dropdown-item text-danger" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            <a class="dropdown-item text-danger" asp-controller="Users" asp-action="All">Members</a>
                        }
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link active">Hello there, Guest!</span>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Profile" asp-route-username="@this.User.Identity.Name">Hello there, @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                        }
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search by Username">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>           
        </header>
        <main class="my-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </main>
        <footer class="text-center w-100 mt-3 mx-auto navbar-color">
            <div class="container-fluid">
                <div class="p-1 text-center text-light">
                    <h5>&copy; 2020 - MyForum.Web - <a asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.ProjectName</a></h5>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
