@using MyForum.Domain
@using MyForum.Web.Models.Threads
@model ThreadsCreateViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Thread";
}

<div class="container-fluid text-center w-25 mx-auto">
    <h1>Create new thread</h1>
    <hr />
    <form asp-controller="Threads" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Title"></label>
            <textarea asp-for="@Model.Title" type="text" rows="2" class="form-control" placeholder="Title..."></textarea>
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.Content"></label>
            <textarea asp-for="@Model.Content" type="text" rows="3" class="form-control" placeholder="Content..."></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label>Category</label>
            <br />
            <select class="form-control w-100" asp-for="@Model.CategoryId">
                <option>Choose category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <br />
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Create</button>
        </div>
    </form>
</div>